<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet"  href="styles/style.css">-->
</head>
<body>
<div class="header center">
    <!--    <button class="game button">Game</button>-->
    <!--    <button class="all button">All</button>-->
    <button class="button">Me</button>
</div>
<!--//action="translate/create" -->
<form class="main__form center" th:action="@{/translate/create}" th:object="${translate_current}" method="post">
    <div class="form__group">
        <input type="text" th:field="*{englishExpression}" id="english" class="form__field"
               placeholder="Your Email">
        <label for="english" class="form__label">English</label>
    </div>
    <div class="form__group">
        <input type="text" th:field="*{russianExpression}" id="russian" class="form__field"
               placeholder="Your Message">
        <label for="russian" class="form__label">Russian</label>
    </div>
    <div class="main__buttons">
        <!--        <button class="button" type="button" onclick="translate()">Translate</button>-->
        <button class="button" type="button" onclick="translate_f()">Translate</button>
        <button class="button" type="reset">Clear</button>
        <!--        <button class="button" type="submit" th:name="${'action_type'}" th:value="Add">Add</button>-->
        <button class="button" type="submit">Add</button>
    </div>
</form>

<script>
    function translate_f() {
        // Retrieve the English expression from the input field
        var englishExpression = document.getElementById('english').value;
        console.log(englishExpression);

        var translationDto = {
            id: 0, // Replace with actual values or retrieve from form fields
            englishExpression: document.getElementById('english').value,
            russianExpression: ' ',
            englishTranscription: "",
            successAttempts: 0,
            initDate: "2024-05-07T12:00:00" // Example date format
        };

        $.ajax({
            url: '/api/translate',
            type: 'post',
            ContentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: {
                id: 0,
                englishExpression: document.getElementById('english').value,
                russianExpression: document.getElementById('russian').value,
                englishTranscription: "",
                successAttempts: 0,
                initDate: "1001-01-01T12:00:00", // Example date format
            },
            success: function (data) {
                console.log(data.russianExpression);
                $('#english').val(data.englishExpression)
                $('#russian').val(data.russianExpression);
            },
            error: function () {
                alert("An error occurred while translating.");
            }
        });
    }
</script>


<table class="translation-list center">
    <tbody>
    <tr class="translation-item" th:each="translation : ${translations}">

        <!--        <td th:text="${translation.id}"></td>-->
        <td th:text="${translation.englishExpression}"></td>
        <td th:text="${translation.russianExpression}"></td>
        <!--        <td th:text="${translation.englishTranscription}"></td>-->
        <td th:text="${translation.successAttempts}"></td>
        <td th:text="${#temporals.format(translation.initDate, 'HH:mm dd.MM.yy')}"></td>

        <td th:datetime="${translation.initDate}"></td>
        <!--        <a th:href="@{/edit/{remindId}(remindId=${remind.id})}">Edit</a>-->
    </tbody>
</table>


</body>
</html>